.home
{
  width: 80%;
  @media @mobile
  {
    // width: 
  }
  .header
  {
    padding-bottom: 30px;
    border-bottom: 2px dashed @silver;
    .text-content
    {
      margin-top: 20px;
    }
  }
  .content-section
  {

    margin: 30px 0;
    display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    @media @mobile
    {
      flex-direction: column;
      // margin: 0px;
    }
   
    
    .text-content
    {
      width: 48%;
      padding-right: 1%;
      // padding-bottom: 30px;
      // border-bottom: 2px dashed #C0C0C0;
      @media @mobile
      {
        width: 100%;
      }
    }

    .img-content
    {
      width: 48%;
      padding-left: 1%;
      @media @mobile
      {
        width: 100%;
      }
      img
      {
        border-radius: 10px;
      }
    }
    
  }

  .inverse-content 
  {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    @media @mobile
    {
      flex-direction: column-reverse;
    }
    .text-content
    {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content
    {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination
  {
    width: 75%;
    margin: 0 auto 30px;
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    img
    {
      border-radius: 10px;
    }
    @media @mobile
    {
      width: 100%;
    }
    h2
    {
      @media @mobile
      {
        font-size: 3rem;
      }
    }
  }

  .content-pick
  {
    width: 110%;
    // padding-top: 30px;
    display: flex;
    justify-content: space-between;
    @media @mobile
    {
      flex-direction: column;
      width: 80%;
      
      margin: 0 auto;
      // padding: 20%;
      // align-content: center;
    } 

    .destination
    {
      width: 33%;
      margin-bottom: 30px;
      @media @mobile
      {
        width: 100%;
        // padding-left: 15%;
        // padding-right: 15%;

      }
      .btn
      {
        // lightgreen
        // color
        .button(@button-desktop, 95%, 1.5rem, 5%);
        @media @mobile
        {
          .button(@button-bg, 100%, 1.7rem, 3%);
        }
      }

    }
  }
}// home