// Mixins in here
.button(@color, @width, @font_size)
{
    width: @width;
    background-color: @color;
    padding: 5%;
    color: white;
    border-radius: 15%;
    outline: none;
    font-size: @font_size;
}
