// Navigation Styles here
.NavBar
{
    display: flex;
    justify-content: space-between;
    // align-content: center;
    .nav
    {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        // text-align: center;
        .NavLink
        {
            // align-items: center;
        }
    }
}